*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.19), rgb(13, 48, 201)), url('IMG_20220424_044956.jpg');
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}
.ega-container{
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    padding: 26px 30px;
    border-radius: 20px;
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 3px 10px 3px black;
}

.ega-container h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #efefef;
}

.ega-container h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: .6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;

}
form{
    width: 50%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 50px;
    background-color: #ffffffee;
    border-radius: 20px;
}
label{
    font-size: 14px;
    font-family: sans-serif;
}
input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 14px;
    font-family: serif;
}
button{
    width: 70%;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blue;
    color: #eff;
    cursor: pointer;
    transition: all .5s;
}
button:hover{
    transform: scale(80%);
    background-color: black;
}
#response-container{
    width: 50%;
    margin: 0 auto;
    margin-top: -40px;
    background-color: #efefef;
    text-align: center;
    font-style: oblique;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 720px) {
    .ega-container{
        width: 100%;
        max-height: 90vh;
        margin-top: 20%;
        overflow: hidden;
    }
    h1{
        font-size: 12px;
    }
    h3{
        font-size: 10px;
    }
    form{
        width: 100%;
        height: 55vh;
        padding: 30px;
    }
    input{
        max-width: 100%;
    }
    button{
        width: 100%;
        font-size: 12px;
        height: auto;
        padding: 12px;
    }
    #response-container{
        font-size: 12px;
    }
}
